<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iosbar.tuner">
    <application
        android:label="IosBar Tuner"
        android:supportsRtl="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="iOSBar" />
        <meta-data android:name="xposedminversion" android:value="102" />
        <meta-data android:name="xposedscope" android:resource="@array/xposedscope" />
    </application>
</manifest>
